@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@font-face {
  font-family: 'TaktukBrush';
  src: url('/fonts/TaktukBrush.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
